<form action="/user/login" method="POST">
    <img src="/images/logo123.jpeg" style="width:150px;height:200px;">
    <br>
    <h2><b>請先登入以使用此系統</b></h2>
    <br>

  <div class="form-group">
    <label for="exampleInputEmail1">登入名稱</label>
    <input
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="輸入登入名稱"
      name="username"
    />
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">密碼</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="輸入登入密碼"
      name="password"
    />
  </div>

  <button type="submit" class="btn btn-primary">登入</button>
</form>
