<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Print QR Code</title>
    <style>
        html,
        body {
            margin: 0 auto;
            /* put it at the center */
            width: 248mm;
            /* Define the page size (try different value !!)   */
        }
    </style>
</head>

<body>
    <% StationSpareBag.forEach(function(model) { %>
    <div style="margin-bottom:1em">
        <h5>後備旗袋號碼: <%= model.bagNumber %></h5>
        <h5>旗站: <%= stationName %></h5>


        <% var qrsrc = qrcode(4, 'H'); qrsrc.addData(`${model.bagNumber}`); qrsrc.make();%>
        <img src="<%- qrsrc.createDataURL() %>" />
    </div>
    <% }); %>

    <script>
        self.opener.location.reload();
        window.print();
        window.onfocus = () => window.close();
    </script>
</body>

</html>