<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>列印收據</title>
    <style>
        html,
        body {
            margin: 0 auto;
            /* put it at the center */
            width: 248mm;
            /* Define the page size (try different value !!)   */
        }
    </style>
</head>

<body>

    <div style="margin-bottom:1em">
        <h5>協基會 <%= date %> 賣旗日</h5>
        <h5>旗袋編號: <%= bagNumber %> </h5>

    </div>

    <script>
        self.opener.location.reload();
        window.print();
        if (userAgent.match(/iPad/i) || userAgent.match(/iPhone/i)) {
            // iPad or iPhone
            self.opener.location.reload();
            // setInterval(() => {
            //     alert('test');
            //     window.opener.location.reload();
            //     window.close();
            // }, 500);
            // setTimeout(() => {
            //     window.onfocus = () => {
            //         alert('test')
            //         window.close();
            //     }
            // }, 500);
        } else {
            window.onfocus = () => {
                window.opener.location.reload();
                window.close();
            }
        }
        
        
    </script>
</body>

</html>