<body>
  <br />

  <h2><a href="/management">活動管理</a> > <a href="/viewitem">First Event</a> > 旗站</h2>
  <br>

  <div class="bordered">

    <p class="font-weight-bold" style="background-color:powderblue; padding: 10px; ">匯入及匯出</p>

    <div class="row" style="padding: 20px;">

      <div class="col-sm-6">
        <p>匯入Excel檔案：</p>
        <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        <input type="submit" class="btn btn-primary" />
      </div>

      <div class="col-sm-6">
        <p>以Excel檔案匯出：</p>
        <a href="/export_station" class="btn btn-info">匯出</a>
      </div>

    </div>


  </div>

  <br /> 
   <a href="/addflagstn" class="btn btn-primary">建立</a>
  <button type="button" class="btn btn-danger">删除</button>
  <br />

  <table class="table table-bordered">
      <br>
      <thead>
        <tr>
          <th scope="col">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
            <th scope="col">旗站名稱</th>
            <th scope="col">旗站地區</th>
            <th scope="col">旗袋總數</th>
            <th scope="col">後備旗袋</th>
            <th scope="col">編輯</th>
          </tr>
      </thead>

      <tbody>

          <% stations.forEach( function(model) { %>
            <tr>
              <th scope="row">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1"></label>
                </div>
              </th>
                <td><%= model.sName %></td>
                <td><%= model.sLocation %></td>
                <!-- <td><%= model.numOfSBag %></td> -->
                <td><%= model.numOfSpareBag %></td>
                <td><a href='' class="btn btn-primary">編輯</a>
                  </td>
              <% }); %>
            </tr>
        
        </tbody>
    </table>
  <!--table class="table table-bordered">
    <br />

    <thead>
      <tr>
        <th scope="col">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <th scope="col">旗站名稱</th>
        <th scope="col">地區</th>
        <th scope="col">旗袋總數</th>
        <th scope="col">後備旗袋</th>
        <th scope="col">編輯</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td>TKO-A1</td>
        <td>將軍澳</td>
        <td>45</td>
        <td>5</td>
        <td><button type="button" class="btn btn-link">編輯</button></td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td>TKO-A2</td>
        <td>將軍澳</td>
        <td>55</td>
        <td>8</td>
        <td><button type="button" class="btn btn-link">編輯</button></td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td>TKO-A3</td>
        <td>將軍澳</td>
        <td>35</td>
        <td>6</td>
        <td><button type="button" class="btn btn-link">編輯</button></td>
      </tr>

      <tr>
        <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td>KT-A1</td>
        <td>觀塘</td>
        <td>67</td>
        <td>9</td>
        <td><button type="button" class="btn btn-link">編輯</button></td>
      </tr>
    </tbody>
  </table-->
</body>

<style>
  .bordered {
    width: 800;
    height: 800;
    border: 1px solid black;
    border-radius: 5px;
    border-color: powderblue;
  }
</style> 