<body>
    <br>
    <h2>活動管理 > First Event > 個人義工 > 建立個人義工</h2>

    <br>
    <br>

    <form>

        <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">義工名稱</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputUsername">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">聯絡電話</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">電郵</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">賣旗地點</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputStation" class="col-sm-2 col-form-label">所屬旗站</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputStation">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2">所屬團體</label>
            <div class="col-sm-10">
                <select class="form-control" name="Property[estate]" required>
                    <option value="">請選擇所屬團體</option>
                    <option value="Festival City">---</option>
                    <option value="Tin Ma Court">九龍城浸信會禧年(恩平)小學</option>
                    <option value="City One Shatin">聖公會靈愛小學</option>
                    <option value="City One Shatin">九龍堂宣道小學</option>
                    <option value="City One Shatin">香港萬國宣道浸信會社會服務田裕浸信會長者鄰舍中心</option>
                </select>
            </div>
        </div>


        <button type="button" class="btn btn-success" style="float:right;">儲存</button>

        <button type="button" class="btn btn-danger" style="float:right;">取消</button>

    </form>

</body>