<body>
  <br>
  <!-- <h2><a href="/management">活動管理</a> > <a href="/viewitem">First Event</a> > <a href="/contact">活動使用者</a> > 新增活動使用者</h2> -->
  <h2>新增活動管理員 / 活動使用者</h2>
  <br>
  <br>

  <form action="/user/" method="POST" onsubmit="createForm(this);return false">

    <div class="form-group row">
      <label for="inputUsername" class="col-sm-2 col-form-label">使用者名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputUsername" name="User[username]" required>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputUsername" class="col-sm-2 col-form-label">活動使用者身分</label>
      <div class="col-sm-10">
      <select class="form-control" name="User[role]" required>
        <option value="">-----</option>
        <option value="admin">活動管理員</option>
        <option value="stationmgr">站長</option>
      </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputEmail" class="col-sm-2 col-form-label">電郵</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail" name="User[mail]">
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">密碼</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" name="User[password]" required>
      </div>
    </div>

    <!-- Request by Kenny -->
    <!-- <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">確認密碼</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="confirmPwd">
      </div>
    </div> -->

    <div class="form-group row">
      <label for="inputStation" class="col-sm-2 col-form-label">所屬旗站</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputStation" name="User[flagstn]">
      </div>
    </div>


    <!-- <button type="button" class="btn btn-success" style="float:right;">儲存</button> -->
    <button type="submit" class="btn btn-primary"style="float:right;">儲存</button>
    <button type="button" class="btn btn-danger" style="float:right;">取消</button>

  </form>

</body>

<script>
async function createForm(oFormElement) {

  // Later to be solved
  // function validatePwd() {
  //   var pwd = $("#inputPassword").val
  //   var cpw = $("#confirmPwd").val

  //   if (pwd != cpw) {
  //     alert("Password does not match.")
  //     return false
  //   }

  //   else return true
  // }

  var response = await fetch("/user/", {
            method: "POST",
            credentials: 'same-origin',
            headers:{'content-type':'application/x-www-form-urlencoded'}, //enctype code of form
                //put into array            //map into input and encode                                                         //join it
            body: Array.from(oFormElement).map(input => encodeURIComponent(input.name) + '=' + encodeURIComponent(input.value)).join('&'),
        });

        
        if (response.ok) {
            // validatePwd()
            var data = await response.json();   // for res.ok() or res.json()
            alert(data.message);
            windows.location = data.url;
            //location.reload(true);
        } else if (response.status == 401) {
            var data = await response.text();   // for res.send()
            alert(data);
        } else {
            alert(response.statusText);
        }

    };
</script>