<form action="/web/" method="POST" onsubmit="createForm(this);return false">
    <h1><b>收回旗袋</b></h1>
    <div
      class="container"
      cellPadding=""
      cellSpacing="10"
      class="config col-md-8"
    >
      <div class="row">
        <div class="left col-md-6">
          <div>組織名稱</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <select id="orgName" class="select-control" name="Web[orgName]">
            <option class="select-control">九龍城浸信會禧年(恩平)小學</option>
            <option class="select-control">平安福音堂幼稚園(天水圍)</option>
            <option class="select-control">聖公會靈愛小學</option>
            <option class="select-control">真理浸信會恩典幼稚園</option>
            <option class="select-control">九龍塘宣道小學</option>
            <option class="select-control"
              >香港萬國宣道浸信會社會服務田裕浸信會長者鄰舍中心</option
            >
            <option class="select-control">聖公會主愛小學(梨木樹)</option>
            <option class="select-control">廖寶珊紀念書院</option>
            <option class="select-control">個人參加</option>
          </select>
        </div>
  
        
      </div>
  
      <div class="row">
        <div class="left col-md-6">
          <div>旗袋號碼</div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <input
            type="number"
            class="form-control"
            name="Web[numofBagCollect]"
            required
          />
        </div>
      </div>
  
      <!-- <div class="row">
        <div class="left col-md-6">
          <div>負責人名稱</div>
        </div>
        <div class="right col-md-6">
          <div>負責人電話號碼</div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <input
            type="number"
            class="form-control"
            name="Web[attendance]"
            required
          />
        </div>
        <div class="col-md-6">
          <input
            type="number"
            class="form-control"
            name="Web[numofBag]"
            required
          />
        </div>
      </div>
   -->
   
      <div class="row">
        <div class="left col-md-6">
          <div>確定資料正確</div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6">
          <input type="checkbox" class="left" name="Web[confirm]" />
        </div>
        <div class="col-md-6"><button type="submit">Submit</button>
      </div>
      </div>
    </div>
  
  </form>
  