<body>
    <h2>活動管理 > First Event > 活動使用者</h2>
  <br>
  <a href="/adduser" class="btn btn-primary">新增活動使用者</a>
  <button type="button" class="btn btn-danger">删除</button>
    
    <br>
    <table class="table table-bordered">
      <br>
      <thead>
        <tr>
          <th scope="col">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <th scope="col">用戶名稱</th>
          <th scope="col">電郵</th>
          <th scope="col">用戶身份</th>
          <th scope="col">編輯</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <td>Alex(站長A)</td>
          <td>eventuserA@gmail.com</td>
          <td>站長</td>
          <td><button type="button" class="btn btn-link">編輯</button></td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <td>Barry(站長B)</td>
          <td>eventuserB@gmail.com</td>
          <td>站長</td>
          <td><button type="button" class="btn btn-link">編輯</button></td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <td>Harry (站長c)</td>
          <td>eventuserC@gmail.com</td>
          <td>站長</td>
          <td><button type="button" class="btn btn-link">編輯</button></td>
        </tr>
      </tbody>
    </table>
  
  </body>