<body>
  <h2>活動管理 > First Event > 活動摘要</h2>
  <br />

  <table class="table table-bordered">
    <h2>活動資料</h2>
    <tbody>
      <tr>
        <th scope="row">活動名稱</th>
        <td>First Event</td>
      </tr>
      <tr>
        <th scope="row">活動日期</th>
        <td>20-6-2020</td>
      </tr>
      <tr>
        <th scope="row">賣旗地點</th>
        <td>全港</td>
      </tr>
      <tr>
        <th scope="row">旗站數目</th>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">旗袋總數</th>
        <td>55</td>
      </tr>
      <tr>
        <th scope="row">站長人數</th>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">義工人數</th>
        <td>60</td>
      </tr>
    </tbody>
  </table>

  <a href="/viewitem" style="float: left;">編輯</a>
</body>
