<body>
    <br>
    <h2><a href="/management">活動管理</a> > <a href="/viewitem">First Event</a> > 活動報告</h2>
    <br>


    <!-- <a class="nav-link active" href=""> 團體義工及個人義工資料表（包含義工出席紀錄）</a> -->

    <!-- <a class="nav-link active" href="">個人義工出席記錄</a> -->

    <!-- <a class="nav-link active" href="">籌得款項及所有支出細項</a> -->
   
    <a class="nav-link active" href="/contact">活動使用者</a>
    <a class="nav-link active" href="/individual">個人義工</a>
    <a class="nav-link active" href="/group">團體義工</a>
    <a class="nav-link active" href="/station">旗站</a>
    <a class="nav-link active" href="/groupandindividual"> 團體義工及其所屬義工資料表（包含義工出席紀錄）</a>







</body>