
<body>
    <br>

    <h2><a href="/management">活動管理</a> > <a href="/viewitem">First Event</a> > <a href="/qrCode">QR code Label</a> > 列印
        QR Code Label</h2>

    <br>

    <h2>Generate a QR code for a flag bag: </h2>

    <p>Input the data that you want to store inside the QR code and press ENTER:</p>

    <p>e.g. store FBNO-1234 (旗袋編號) </p>

    <form onsubmit="generate();return false;">
        <input type="text" id="gen" name="" style="width: 400;">
    </form>
    <br>

    <p>Here is the QR code generated:</p>
    <img class="qr2">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>

        function generate() {
            var message = document.getElementById('gen');

            if (!message.value) {
                return;
            }

            var data = message.value;

            var qrGenerate = "https://api.qrserver.com/v1/create-qr-code/?data=" + data + "&amp;size=100x100";
            console.log(qrGenerate);
            $(".qr2").attr("src", qrGenerate);

        }

    </script>





</body>
