<body>

    <br>
  
    <h2>活動管理 > First Event > 團體義工</h2>
  
    <br>
  
    <div class="bordered">
  
      <p class="font-weight-bold" style="background-color:powderblue; padding: 10px; ">匯入及匯出</p>
  
      <div class="row" style="padding: 20px;">
  
        <div class="col-sm-6">
          <p>匯入Excel檔案：</p>
          <button type="button" class="btn btn-outline-secondary">請選擇檔案</button>
        </div>
  
        <div class="col-sm-6">
          <p>以Excel檔案匯出：</p>
          <button type="button" class="btn btn-outline-secondary">匯出</button>
        </div>
  
      </div>
  
  
    </div>
  
    <br>
  
    <br>
    <button type="button" class="btn btn-primary">建立</button>
    <button type="button" class="btn btn-danger">删除</button>
    <br>
  
    <table class="table table-bordered">
      <br>
  
      <thead>
        <tr>
          <th scope="col">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <th scope="col">團體姓名</th>
          <th scope="col">旗站位置</th>
          <th scope="col">賣旗地區</th>
          <th scope="col">義工人數</th>
          <th scope="col">編輯</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <td>九龍城浸信會禧年(恩平)小學</td>
          <td>TKO-A1</td>
          <td>將軍澳</td>
          <td>60</td>
          <td><button type="button" class="btn btn-link">編輯</button></td>
        </tr>
  
        <tr>
          <th scope="row">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <td>聖公會靈愛小學</td>
          <td>TKO-A2</td>
          <td>將軍澳</td>
          <td>53</td>
          <td><button type="button" class="btn btn-link">編輯</button></td>
        </tr>
  
        <tr>
          <th scope="row">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <td>九龍堂宣道小學</td>
          <td>KT-A1</td>
          <td>觀塘</td>
          <td>40</td>
          <td><button type="button" class="btn btn-link">編輯</button></td>
        </tr>
  
        <tr>
          <th scope="row">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1"></label>
            </div>
          </th>
          <td>香港萬國宣道浸信會社會服務田裕浸信會長者鄰舍中心</td>
          <td>TKO-A3</td>
          <td>將軍澳</td>
          <td>38</td>
          <td><button type="button" class="btn btn-link">編輯</button></td>
        </tr>
  
      </tbody>
    </table>
  
  </body>
  
  <style>
    .bordered {
      width: 800;
      height: 800;
      border: 1px solid black;
      border-radius: 5px;
      border-color: powderblue;
    }
  </style>