<body>
  <table class="table table-bordered">

    <!-- <h2>活動管理</h2> -->

    <div class="bordered2">
      <h1>活動管理</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">活動管理</li>
        </ol>
      </nav>
    </div>
    <br>

    <!-- <button type="button" class="btn btn-primary" style="float: left;">建立活動</button> -->
    <a href="/addevent" class="btn btn-primary" style="float: left;">建立活動</a>
    <br>

    <br />
    <thead>
      <tr>
        <!-- <th scope="col">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th> -->
        <th scope="col">名稱</th>
        <th scope="col">活動日</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% webs.forEach( function(models) { %>
      <tr>
        <!-- <th scope="row">
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th> -->
        <td><%= models.eventName %></td>
        <td><%= models.dateOfEvent %></td>
        <td>
          <a href="/viewitem/<%= models.id %>" class="btn btn-info">更多</a>
          <button type="submit" class="btn btn-danger" onclick="deleteUser('<%= models.id %>')">刪除</button>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>

<style>

  .bordered2 {
    padding: 15px;
    padding-bottom: 1px;
    border: 1px solid gainsboro;
    border-radius: 5px;
  }

</style>

<script>
  async function deleteUser(id) {

    var r = confirm("確認刪除活動?");

    if (r) {

      var response = await fetch("/web/" + id, {
        method: "DELETE",
        credentials: 'same-origin',
      });

      if (response.ok) {
        var data = await response.json();
        alert(data.message);
        window.location = data.url;
      } else {
        alert(response.status + ": " + response.statusText);
      }

    } else {
      alert("cancelled");
    }

  };
</script>