<body>
  <table class="table table-bordered">
    <br>
    <h2>活動管理</h2>
    <br>

    <button type="button" class="btn btn-primary" style="float: left;">建立活動</button>
    <br>

    <br />
    <thead>
      <tr>
        <th scope="col">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <th scope="col">名稱</th>
        <th scope="col">活動日</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td><a href="/eventdetail">First Event</a></td>
        <td>20-6-2020</td>
        <td><a href="/viewitem" class="btn btn-info">編輯</a></td>
      </tr>
      <tr>
        <th scope="row">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td><a href="/eventdetail">Second Event</a></td>
        <td>2-8-2020</td>
        <td><a href="/viewitem" class="btn btn-info">編輯</a></td>
      </tr>
      <tr>
        <th scope="row">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"></label>
          </div>
        </th>
        <td><a href="/eventdetail">Third Event</a></td>
        <td>10-9-2020</td>
        <td><a href="/eventdetail" class="btn btn-info">編輯</a></td>
      </tr>
    </tbody>
  </table>
</body>
