<body>
    <h2><b>設定</b></h2>
  <div class="container" cellPadding="" cellSpacing="10">
    <div class="row">
      <h4>旗站站長</h4>
    </div>
    <div class="row">
      <div class="left col-md-6"><button type="button" class="btn btn-link">增加旗站站長</button></div>
      <div class="left col-md-6"><button type="button" class="btn btn-link">更改旗站站長資料</button></div>
    </div>

    <div class="row">
      <h4>旗站管理</h4>
    </div>
    <div class="row">
      <div class="left col-md-6"><a href="/addflagstn">增加旗站</a></div>
      <div class="left col-md-6"><a href="/addflagstn">更改旗站資料</a></div>
    </div>
    
  </div>
</body>
