<body>
    <br />
  
    <table class="table table-bordered">
      <h2>旗站統計</h2>
      <tbody>
        <tr>
          <th scope="row">旗袋總數</th>
          <td>20(20)</td>
        </tr>
        <tr>
          <th scope="row">已收</th>
          <td>0/20</td>
        </tr>
        <tr>
          <th scope="row">未收</th>
          <td>20/20</td>
        </tr>
        <tr>
          <th scope="row">後備</th>
          <td>5</td>
        </tr>
        <tr>
          <th scope="row">多收</th>
          <td>0</td>
        </tr>
        <tr>
          <th scope="row">少收</th>
          <td>0</td>
        </tr>
      </tbody>
    </table>
    </body>
  