<body>
    <br>
    <h2><a href="/management">活動管理</a> > First Event</h2>

    <br>


    <a class="nav-link active" href="/eventdetail">活動摘要</a>
    <a class="nav-link active" href="/contact">活動使用者</a>
    <a class="nav-link active" href="/individual">個人義工</a>
    <a class="nav-link active" href="/group">團體義工</a>
    <a class="nav-link active" href="/station">旗站</a>
    <a class="nav-link active" href="/eventreport">活動報告</a>
    <a class="nav-link active" href="/qrCode">QR Code</a>

</body>